server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: employee-service
          uri: lb://EMPLOYEE-SERVICE
          predicates:
            - Path=/employees/**
        - id: fraud-service
          uri: lb://FRAUD-SERVICE
          predicates:
            - Path=/fraud/**
        - id: department-service
          uri: lb://DEPARTMENT-SERVICE
          predicates:
            - Path=/departments/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

